html {
  background: #ccc;
}
.App {
  text-align: center;
  font-family: arial, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.menu {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgb(35, 154, 100) 34%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 7px 1px rgb(35, 35, 35);
}
.menu button,
.menu input,
.quiz button,
.end-screen button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}
.menu label {
  margin-right: 170px;
}
.menu input {
  height: 40px;
  font-size: 14px;
  outline: rgb(35, 154, 100);
  color: gray;
}
.end-screen h3 {
  color: #fff;
  font-size: 30px;
}

button:hover {
  cursor: pointer;
}
.selected {
  background: rgb(110, 176, 188);
}
.quiz {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgb(35, 154, 100) 34%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu,
.quiz,
.end-screen h1,
.end-screen h2 {
  color: white;
}
.quiz .options {
  width: 100%;
}
#big-btn {
  width: 48%;
  background: rgb(110, 176, 188);
  transition: 0.3s ease;
}
.quiz #big-btn:hover {
  background: rgba(110, 176, 188, 0.6);
  transform: scale(1.04);
}
.end-screen {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgb(35, 154, 100) 34%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
